

ul {
	list-style-type: none;
}

* {
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	background-color: #fff;
	display: flex;
}

.calendar {
	margin: 30px auto 80px auto ; 
	width: 300px;
	background-color: #fff;
	box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
}

.month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	padding: 0px 5px;
	text-align: center;
	background-color: #f1f1f1;
	color: #000;
}

.weekdays {
	background-color: #f1f1f1;
	color: #000;
	padding: 3px 0;
	display: flex;
}

.days {
	font-size: 15px;
	display: flex;
	flex-wrap: wrap;
}

.weekdays div,
.days div {
	text-align: center;
	width: 14.28%;
}

.days div {
	padding: 10px 0;
	margin-bottom: 10px;
	transition: all 0.4s;
}

.prev_date {
	color: #999;
}

.today {
	background-color:#007bff;
	color: #fff;
}

.days div:hover {
	cursor: pointer;
	background-color: #dfe6e9
}

.prev,
.next {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 23px;
	background-color: rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
}

.prev:hover,
.next:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
}

#month {
	font-size: 30px;
	font-weight: 500;
}

.title{
	padding: 10px;
	box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1);
}

.available {
	background-color: #233b6f;
	color: #fff;
}
